:root{
    --primary-clr: #1f2937;
    --secondary-clr: #d1d5db;
    --badge-clr: #ef4444;
}

/* Navigation */
#store-navbar{
    background-color: white;
    border-bottom: 2px solid var(--primary-clr);
    box-shadow: 0 5px 10px -6px var(--primary-clr);
}

.title{
    margin-left: 5rem;
}

.brand-name{
    font-size: 2.5rem;
    font-weight: 800;
    margin-left: 3rem;
    color: var(--primary-clr);
}

.brand-name:hover{
    opacity: 0.8;
}

#nav-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
}

#nav-icon-text{
    font-size: 2rem;
    color: var(--primary-clr);
    margin-right: 2rem;
}

#search{
    border: 2px solid var(--secondary-clr);
    width: 30rem;
}

#nav-badge-div{
    position: relative;
}

#nav-badge{
    position: absolute;
    color: white;
    top: -10px;
    left: 20px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--badge-clr);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Header */
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    padding: 1rem;
    overflow: hidden;
}

.header-items{
    position: relative;
    padding: 1rem;
}

.header-items:hover{
    opacity: 0.7;
    transition: 0.4s ease-in-out;
}

.header-img{
    max-width: 100%;
    width: 25rem;
    height: auto;
}

.header-overlay{
    position: absolute;
    color: var(--primary-clr);
    background-color: var(--lightgrey);
    opacity: 0.8;
    width: 92.5%;
    top: 60%;
    text-align: center;
    font-weight: bold;
}

/* Banner */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
}

.banner-badge{
    position: absolute;
    bottom: 4rem;
    color: var(--primary-clr);
    background-color: var(--secondary-clr);
    padding: 0.5rem;
    border-radius: 4px;
}

.banner-cta{
    font-weight: bold;
    font-size: 1.5rem;
}

.banner-badge:hover{
    opacity: 0.5;
    transition: 0.3s ease;
}

/* New Arrival */
.new-arrival{
    background-color: var(--primary-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.new-arrival-img{
    padding: 2rem;
    width: 40rem;
    height: auto;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--primary-clr);
    box-shadow: -8px 5px 10px 2px var(--primary-clr);
    padding: 1.5rem;
}

.footer-heading{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
}

.social-links{
    display: flex;
    padding-bottom: 1rem;
}

.social-links li{
    margin: 1rem;
}

.fa-linkedin,
.fa-instagram,
.fa-twitter{
    font-size: 2rem;
    color: var(--primary-clr);
}

.fa-linkedin:hover,
.fa-instagram:hover,
.fa-twitter:hover{
    opacity: 0.7;
}

/* Media Queries */
@media only screen and (max-width: 750px) {
    .search{
        visibility: hidden;
        display: inline;
    }
    #search{
        width: 0;
    }
    .title{
        margin-left: 5px;
    }
    #nav-options{
        margin-right: 5px;
    }
    #nav-icon-text{
        margin-right: 5px;
    }
}